@import ‘~antd/dist/antd.css’;

.VideoFrame {
width: 100vw;
background: lightgray;
color: black;
height: 85vh;
align-items: center;
}

.Audio {
border: solid black;
display: flex;
flex-direction: column;
}

.Controls {
display: flex;
justify-content: center;
color: black;
}

h1, h2, body {
  padding-top: 10px;
  text-align: center;
  background-color: black;
  color: lightgray;
}


.VideoDetail {
  display: flex;
  position: relative;
}

.SearchBar {
  align-content: center;
  text-align: center;
  background: black;
  padding: 35px;
  width: 100vw;
}
