@import ‘~antd/dist/antd.css’;

.VideoFrame {
width: 100vw;
background: black;
color: black;
height: 50vh;
padding-top: 50px;
/* align-items: center; */
/* align-content: center; */
}

.Audio {
border: solid black;
display: flex;
flex-direction: column;
}

.Controls {
justify-content: center;
color: black;
}

h1, h2, body {
  padding-top: 10px;
  text-align: center;
  background-color: black;
  color: lightgray;
}


.VideoDetail {
  display: flex;
  position: relative;
}

.SearchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: black;
  padding: 35px;
  width: 100vw;
}

.SearchIcon {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-align: center;
}

.AutoComplete {
display: none;
}

.embed-responsive {
  align-content: center;
  text-align: center;
  background: black;
  padding: 35px;
  width: 100vw;
}

.embed-responsive-16by9 {
  align-content: center;
  text-align: center;
  background: black;
  padding: 35px;
  width: 100vw;
}
