@import ‘~antd/dist/antd.css’;


.VideoFrame {
width: 100vw;
background-size: 200%;
background-image: linear-gradient(60deg, 
#f79533, 
#f37055, 
#ef4e7b, 
#a166ab, 
#5073b8, 
#1098ad, 
#07b39b, 
#6fba82);
background-position: left;
transition: background-position 3s;
height: 35%;
padding: 50px 50px 50px 50px;
animation: animatedgradient 15s ease alternate infinite;
}

.Title {
  padding-bottom: -15px;
}

.Title:hover,
.Title:focus {
background-image: linear-gradient(60deg, 
  #f79533, 
  #f37055,
  #ef4e7b, 
  #a166ab, 
  #5073b8, 
  #1098ad, 
  #07b39b, 
  #6fba82);
background-clip: text;
color: transparent;
}

.VideoFrame h1 {
  background: transparent;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Description {
  padding-bottom: 10px;
}
.Audio {
border: solid black;
}

.Toggle, .gradient-border, .SearchIcon {
  cursor: pointer;
}  

a {
  text-decoration: none;
  cursor: pointer;
  /* padding-bottom: 50px 50px 50px 50px; */
}

/* .body {
  display: flex;
  text-align: center;
  background-color: black;
} */

h1, h4, .Description, body {
  display: flex;
  justify-content: center;
  padding-top: -10px;
  padding-bottom: -10px;
  text-align: center;
  background-color: black;
  color: lightgray;
}

.VideoDetail {
  display: flex;
  flex-direction: row;
  position: sticky;
  width: 100vw;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.SearchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: black;
  padding: 10px;
  width: 100vw;
}

.Controls {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.SearchIcon {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  text-align: center;
}

.AutoComplete {
display: none;
}

.embed-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  background: black;
  padding: 10px;
  width: 100vw;
}

.embed-responsive-16by9 {
  align-content: center;
  text-align: center;
  background: black;
  padding: 10px;
  width: 100vw;
}

.gradient-border {
  --borderWidth: 5px;
  background: rgb(233, 233, 233);
  background-position: right;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #6fba82, #07b39b, #1098ad, #5073b8, #a166ab, #ef4e7b, #f37055,  #f79533);
  background-position: left;
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: gradientborder 3s ease alternate infinite;
  background-size: 300%;
}


@keyframes gradientborder {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
